@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-alata);
    font-size: var(--fs-p);
}

li {list-style: none;}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--white);
}

h1, h2, h3 {
    font-family: var(--ff-josefin-sans);
    font-weight: var(--fw-300);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-container {
    max-width: 1440px;
    background-color: var(--white);
    margin: auto;
}

header {
    width: 100%;
    height: 100vh;
    background: #0006 url(../images/desktop/image-hero.jpg) no-repeat center; /*background color then image*/
    background-size: cover;
    background-blend-mode: multiply; /*makes a overlay for the image*/
    padding: 65px var(--px);
    margin-bottom: var(--mb);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.mobile-navbar-brand {
    display: none;
    cursor: pointer;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, min-content));
    gap: 32px;
}

nav ul li {position: relative;}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: var(--white);
    transition: all 0.3s ease;
}

nav ul li:hover::after {width: 25px;}

.nav-toggler {
    display: none;
    cursor: pointer;
}

.banner h1 {
    max-width: 650px;
    padding: 38px;
    color: var(--white);
    font-size: var(--fs-h1);
    border: 3px solid var(--white);
}

.about {
    position: relative;
    padding: 0 var(--px);
    margin-bottom: var(--mb);
}

.about .img-box img {display: block;}

.about .content-box {
    background-color: var(--white);
    position: absolute;
    top: 180px;
    left: 50%;
    padding: 95px;
    max-width: 640px;
}

.about .content-box h2 {
    font-size: var(--fs-h2);
    margin-bottom: 30px;
}

.about .content-box p {
    font-size: var(--fs-p);
    color: var(--dark-gray);
    line-height: 1.7rem;
}

.product {
    position: relative;
    padding: 0 var(--px);
    margin-bottom: var(--mb);
}

.product h2 {
    font-size: var(--fs-h2);
    margin-bottom: 80px;
}

.product .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-content: center;
    grid-gap: 30px;
}

.product .product-card {
    position: relative;
    height: 450px;
    cursor: pointer;
}

.product .product-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.product .product-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, transparent 10%, #000b);
}

.product .product-card:hover::after {background: linear-gradient(180deg, #fffa 10%, #555a);}

.product .product-card h3 {
    position: absolute;
    bottom: 35px;
    left: 40px;
    font-size: var(--fs-h3);
    color: var(--white);
    z-index: 2;
}

.product .product-card:hover h3 {color: var(--black);}

.btn-primary{
    position: absolute;
    color: var(--black);
    right: var(--px);
    top: 5px;
    padding: 8px 35px;
    letter-spacing: 5px;
    border: 1px solid var(--black);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: var(--black);
    color: var(--white);
}

footer {
    background: var(--black);
    padding: 45px var(--px);
    display: flex;
    justify-content: space-between;
}

footer .footer-brand {
    margin-bottom: 20px;
}

footer .footer-brand img {
    max-width: 140px;
}

.footer-right {
    text-align: right;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a {
    font-size: 1.8rem;
    color: var(--white);
}

.social-links a:not(:last-child) {
    margin-right: 12px;
}

.copyright {
    color: var(--very-dark-gray);
}